.DS_Store

# old vim stuff, probably could remove, but whatever
vim/plugged/*
vim/autoload/*
vim/swaps/*
vim/.netrwhist

# have to ignore this file because we symlink the whole nvim directory to ~
config/nvim/lua/plugins/colorscheme.lua
