[Unit]
Description=Clipboard manager with history
PartOf=hyprland-session.target

[Service]
Type=simple
ExecStart=%h/.bin/arch-clipboard-manager
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=hyprland-session.target
