[Desktop Entry]
Version=1.0
Name=About
Comment=System information from Fastfetch
Exec=kitty --class=About --title=About bash -c 'fastfetch; read -n 1 -s'
Terminal=false
Type=Application
Icon=Arch
Categories=GTK;
StartupNotify=false
