[Desktop Entry]
Version=1.0
Name=Activity
Comment=System activity from btop
Exec=kitty --class=Activity --title=Activity btop
Terminal=false
Type=Application
Icon=Activity
Categories=GTK;
StartupNotify=false
